@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

 * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.attempt{
    justify-content: center;    
}

body {
  scroll-behavior: smooth;
}

.circleContainer{
    display: flex;
    justify-content: space-around;
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 61.25%;
}

.resp-container2 {
  position: relative;
  overflow: hidden;
  padding-top: 61%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.textContainer{
  display: flex;
  justify-content: center;
  margin: 2%;
}

.textContainer2{
  display: flex;
  justify-content: center;
  margin: 2%;
  width: 50%;
  background-color:#BAABDA;
}

.experiment{
  width:100%;
  border-radius: 50%;
  margin-top:20%;
}

.textContainer3{
  display: flex;
  justify-content: center;
  margin: 2%;
  width: 100%;
}

.square{
  background-color:blue;
  height: 100%;
}

.triangle{
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid #FFCBCB;
}

p{
  text-align: center;
  margin: 2%;
}

h1{
  margin-top: 2%;
}

.websites{
  text-align:left;
  text-indent:-2cm;
  margin-left:10%;
  width:90%;
}

.one-liner{
  margin-left:3%;
}


h2{
  text-align: center;
  margin:2%;
}

.vertically-align{
  margin-top: 40%;
}

.circles {
    background-color: #BAABDA;
    height: 25vw;
    width: 25vw;
    border-radius:100%;
    margin: 3vw;
}

#circle1{
  background-color: #BAABDA;
}

#circle2{
  background-color: #F7D1BA;
  margin-top:-5%;
}

#circle3{
  background-color: #B5DEFF;
}

#history{
  min-height: 200vh;
}

.text{
  width: 50%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.2);
  width: 100vw;
  position: fixed;
  background-color: white;
  transition: all 0.5s ease-in-out;
  z-index: 100;
}

.logo h1 {
  cursor: pointer;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  margin: 0 10px;
  color: black;
  padding: 5px 15px;
  border-radius: 100px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
}

.nav__link.linedNav,
.nav__link:hover {
  background-color: black;
  color: white;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section:nth-child(odd) {
  background-color: rgb(235, 235, 235);
}


.gradient-text {
    color: transparent;
    background: conic-gradient(
      #D9D7F1 12%, 
      #BAABDA 12%, #BAABDA 33%, 
      #E7FBBE 33%, #E7FBBE 55%, 
      #FFCBCB 55%, #FFCBCB 70%, 
      #B5DEFF 70%, #B5DEFF 87%, 
      #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;  
    -webkit-background-clip: text;
  
    animation: expand-rev 0.5s ease forwards;
  
    
  }
  .black-oval{
      background-color:black;
      border-radius: 50%;
      text-align: center;
      width: 35vw;
      padding: 2vw 0;
      margin-top: 12vw;
    margin-bottom: 2vw;
    }
  
  .gradient-text:hover {
    animation: expand 0.5s ease forwards;
  }

  .container { 
      margin: 2%;
  }

  .crossword {
    margin: 1em auto;
    position: relative;
    font-family: sans-serif;
    width:80%;
  }
  .crossword-clues {
    font-size: 14px;
  }
  .crossword-buttons {
    clear: both;
    text-align: center;
    padding-top: 1em;
  }
  .crossword-buttons button {
    margin: 0 0.5em;
    min-width: 200px;
  }
  table.crossword-grid {
    width: 80%;
    max-width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
  }
  .grid-row {
    clear: left;
  }
  .grid-square {
    position: relative;
    background-clip: padding-box;
  }
  .grid-square:after {
    content: '';
    display: block;
    margin-top: 100%;
  }
  .grid-square.lined {
    border: 2px solid black;
  }
  .grid-square.current-word {
    background-color: #ffff99;
  }
  .grid-square.correct-across,
  .grid-square.correct-down {
    background-color: #dff0d8;
  }
  .grid-square.correct-across.current-word,
  .grid-square.correct-down.current-word {
    background-color: #dff082;
  }
  .grid-square .word-label {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    line-height: 1;
    font-size: calc(10px + .25vw);
    color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }
  .grid-square input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1.2em;
    font-size: calc(10px + .5vw);
    font-weight: 600;
    border: 0;
    padding: 0;
    text-transform: uppercase;
    border-radius: 0;
    background: transparent;
  }
  .crossword-clues li {
    position: relative;
  }
  .crossword-clues li label {
    display: block;
    font-weight: normal;
    cursor: pointer;
  }
  .crossword-clues li.lined {
    background: #ffff99;
  }
  .crossword-clues li.correct {
    background: transparent;
    color: green;
    text-decoration: line-through;
  }
  .crossword-clues li.correct.lined {
    background: #dff082;
  }
  .crossword-clues li.correct label:before {
    content: "\f00c";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    top: 0.1em;
  }
  .crossword-clues a.hint {
    display: none;
  }
  .show-hints.crossword-clues a.hint {
    display: inline;
  }
  .clue-tooltip {
    position: absolute;
    z-index: 10;
    background: rgba(255, 196, 35, 0.9);
    padding: 4px 10px;
    margin-bottom: 10px;
    transform: translateY(-100%);
    max-width: 90vw;
  }
  .clue-tooltip .clue-tooltip-arrow {
    display: block;
    border: 8px solid transparent;
    border-top-color: rgba(255, 196, 35, 0.9);
    border-bottom: none;
    position: absolute;
    top: 100%;
  }
  